<configuration>
  <appSettings>
    <add key="AZ_StorageConnectionString" value="{{AzureStorageConnectionString}}"/>
    <add key="AZ_StorageContainerName" value="northwindfiltereddata"/>
    <add key="AzS_StorageConnectionString" value="{{AzureStackStorageConnectionString}}"/>
    <add key="AzS_StorageContainerName" value="northwindunfiltereddata"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
